---
import BoxIcon from "./BoxIcon"
---

<section class='social section'>
  <h2 class='section-title'>SOCIAL</h2>

  <div class="social__container bd-grid">
    <a class="social__link" target="_blank" href="https://www.linkedin.com/in/manuel-esteban-morales-zuarez-68573b189/">
      <BoxIcon classAlt="social__icon" l="l" name="linkedin-square" /> Manuel Esteban Morales Zuarez
    </a>
    <a class="social__link" target="_blank" href="https://github.com/Angstromico">
      <BoxIcon classAlt="social__icon" l="l" name="github" /> Angstromico
    </a>
    <a class="social__link" target="_blank" href="https://www.instagram.com/manuelmorales4280/?hl=es-la">
      <BoxIcon classAlt="social__icon" l="l" name="instagram-alt" /> @manuelmorales4280  
    </a>
  </div>
</section>




